<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeenFCFInod74Nb1RDK8i8dcSsHQxE3Ck&callback=initMap"
  type="text/javascript"></script>
  <title>Do you-Know culture difference</title>
</head>

<body>
  <div id="header">
  </div>

    <div id="main"></div>



  <div id="footer"></div>
</body>